#navbarSupportedContent{
    margin-left: 1100px
}
#navbar{
    font-size: larger;
    font-weight: 400;
}
#title{
    font-weight: 600;
    margin-left: 30px;
    justify-content: space-around;
}
#navbar .navbar {
  background-color: #141414 !important;
}
#navbar .navbar .navbar-brand,
#navbar .navbar .nav-link {
  color: #ffffff !important;
}
#navbar .navbar .nav-link:hover {
  color: #d7d7d7 !important;
}
#navbar .navbar .navbar-toggler {
  border-color: rgba(255,255,255,0.12);
}
#navbar .navbar .navbar-toggler-icon {
  filter: invert(1) brightness(1.2);
}